* {
    background-color: beige;
}
.counterShell {
    margin: 0 auto;
    padding: 1rem;
    color: brown;
    text-align: center;
    border: 0.3rem solid brown;
    max-width: 40%;
}
.header {
    font-weight: 100;
    margin: 0 0 10px;
}
.value {
    font-size: 2rem;
}